
<form #f="ngForm" (ngSubmit)="submit()" id="vehicleForm">
  <h1>New Vehicle</h1>
  
  <div class="form-group">
    <label for="make">Make</label>
    <select #make="ngModel" id="make" required class="form-control" (change)="onMakeChange()" name="makeId" [(ngModel)]="vehicle.makeId">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}"> {{ m.name }} </option>
    </select>
    <div class="alert alert-danger" *ngIf="make.touched && make.invalid">
      <p>Please specify the make.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select required #model="ngModel" id="model" class="form-control" name="modelId" [(ngModel)]="vehicle.modelId">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}"> {{ m.name }} </option>
    </select>
    <div class="alert alert-danger" *ngIf="model.touched && model.invalid">
      <p>Please specify the model.</p>
    </div>
  </div>
  <p>Is this vehicle registered?</p>
  <label for="registered" class="radio-inline">
    <input type="radio" name="isRegistered" [value]="true" [(ngModel)]="vehicle.isRegistered" id="registered" value="true"> Yes
  </label>
  <label for="noRegistered" class="radio-inline">
    <input type="radio" name="isRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered" id="noRegistered" value="false"> No
  </label>

  <div class="has-success">
    <h1>Features</h1>
    <div class="checkbox" *ngFor="let f of features">
      <label for="feature{{ f.id }}">
        <input type="checkbox" id="feature{{ f.id }}" [checked]="vehicle.features.includes(f.id)" (change)="onFeatureToggle(f.id, $event)"> {{ f.name }}
      </label>
    </div>
  </div>

  <h2>Contact</h2>
  <div class="form-group">
    <label for="contactName">Name</label>
    <input id="contactName" #name="ngModel" required type="text" class="form-control" name="contactName" [(ngModel)]="vehicle.contact.name">
    <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
      <p>Name field is required.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="contactPhone">Phone</label>
    <input id="contactPhone" #phone="ngModel" required type="text" class="form-control" name="contactPhone" [(ngModel)]="vehicle.contact.phone">
    <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
      <p>Phone field is required.</p>
    </div>
  </div>
  <div class="form-group">
    <label for="contactEmail">Email</label>
    <input id="contactEmail" type="email" class="form-control" name="contactEmail" [(ngModel)]="vehicle.contact.email">
  </div>

  <button type="submit" [disabled]="!f.valid" class="btn btn-primary">Save</button>
  <a [routerLink]="['/vehicles/', vehicle.id]" class="btn btn-info">Cancel</a>

</form>